@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display|Raleway');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.title-section .mdc-typography--headline3 {
  font-family: 'Permanent Marker', cursive;
}

.section-header {
  text-align: center;
}

.content-about {
  text-align: justify;
}

.main-content-details p {
  text-align: justify;
}

.floating-social-icons {
  position: absolute;
  right: 1vw;
  bottom: 0;
  width: 10rem;
}

a {
  outline: none;
  text-decoration: none;
}

.mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4,
.mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--subtitle2,
.mdc-tab, .mdc-button, .mdc-top-app-bar__title, .mdc-drawer__title, .mdc-drawer .mdc-list-group__subheader {
  font-family: 'Playfair Display', serif;
}

.mdc-typography--body1, .mdc-typography--body2, .mdc-typography--subtitle1,
.mdc-floating-label, .mdc-text-field__input, .mdc-list, .mdc-list-item__secondary-text,
.mdc-drawer .mdc-list-item, .mdc-fab__label {
  font-family: 'Raleway', sans-serif;
}

.mdc-text-field--textarea .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--textarea .mdc-notched-outline .mdc-notched-outline__trailing,
.mdc-text-field, .mdc-card, .mdc-button {
  border-radius: 0;
}

.mdc-tab {
  flex: 1 0 0;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 1rem;
}

.mdc-card__secondary {
  padding: 0 1rem 8px;
}

.mdc-card__title{
  color: black;
}

.mdc-card__title, .mdc-card__subtitle {
  margin: 0;
}

.mdc-card__subtitle, .mdc-card__secondary {
  color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  //color: grey;
}

.margin {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.section-dark .mdc-tab__text-label,
.section-dark .mdc-tab__ripple,
.section-dark .mdc-tab-indicator{
  --mdc-theme-primary: white;
  --mdc-theme-on-surface: white;
}

.section-dark{
  background-color: #212121;
  color: white;
}

.section-full {
  min-height: 100vh;
}

.title-section {
  display: flex;
  align-items: center;
  text-align: center;
}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.title-section .logo {
  max-width:100%;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}
.img-social {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  margin: 1%;
}

body {
  margin: 0;
}

#map {
  height: 100%;
  min-height: 300px;
  background-color: grey;
}

a, a:hover, a:active, a:visited {
  color: black;
}

footer a {
  font-size: 90%;
}

.contacts-list .mdc-image-list__image {
  width:150px;
  height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts-list .mdc-image-list__label {
  width: 100%;
}

.sponsors-list .mdc-image-list__item {
  margin: auto;
}
.center90 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.mdc-button--outlined {
  border-width: 1px;
}

footer {
  background-color: #f1f3f4;
  margin-top: 2rem;
  padding: 15px;
}

footer p {
  color: #5f6368;
}

.mdc-top-app-bar{
  background-color: #212121;
}

.mdc-top-app-bar__title {
  letter-spacing: .1rem;
  text-transform: uppercase;
  //font-size: 100%;
}

.details-app-bar-title {
  padding-left: 10px;
}

.mdc-drawer{
  --mdc-theme-primary: #212121;
}

.mdc-fab {
  background-color: #212121;
}

.center60 {
  display: block;
  margin: auto;
  width: 60%;
}

.mdc-drawer .mdc-list {
  padding-top: 0;
}

.mdc-drawer .mdc-list-item__text {
  padding: 2px 16px 2px 32px;
}

.mdc-drawer .mdc-list-item {
  border-radius: 0px;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.8);
  cursor: pointer;
}

.mdc-drawer .mdc-list-group__subheader {
  padding: 0 16px 8px 16px;
  font-size: 1rem;
}

.mdc-drawer__header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.mdc-fab .mdc-fab__icon {
  font-size: 18px;
}

.mdc-fab .mdc-fab__label {
  text-transform: none;
}

.mdc-top-app-bar__section--align-end .mdc-button__label {
  font-size: 18px;
}

.mdc-top-app-bar__section--align-end .mdc-button__icon {
  font-size: 20px;
  line-height: 18px;
}

.app-fab--mobile {
  display: none;
}

.dashboard-cards {
  padding: 1rem;
  background-color: white;
  color: black;
}

.dashboard-card-button-container {
  margin-top: 1rem;
}

.dashboard-card-button {
  display: block;
  margin: auto;
}

@media(max-width: 1024px) {
  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .center60 {
    display: block;
    margin: auto;
    width: 90%;
  }

  .center90 {
    display: block;
    margin: auto;
    width: 100%;
  }

  .dashboard-cards {
    padding: .5rem;
    background-color: white;
    color: black;
  }

  .mdc-top-app-bar__section--align-end .mdc-button__label {
    visibility: hidden;
    display: none;
  }

  .mdc-top-app-bar__section--align-end .mdc-button__label + .mdc-button__icon {
    margin-left: 0;
  }

  .app-fab--pc {
    display: none;
  }

  .app-fab--mobile {
    display: inline-flex;
  }
}
